//media
$media-phone-small: 'screen and (max-width: 320px)';
$media-phone: 'screen and (max-width: 480px)';
$media-large: 'screen and (max-width: 600px)';
$media-tablet-small: 'screen and (max-width: 768px)';
$media-tablet: 'screen and (max-width: 1000px)';


$gutter-horizontal: 30px;
$max-width: 960px;

//colors
$white: #fff;
$black: #0d0e10;
$black-soft: #131315;
$real-black: #000;
$black-lighter: #1f2229;
$black-lightest: #191c24;
$steel: #89909d;
$steel-darker: #808592;
$light-grey: #f7f8f8;
$azure: #00aeef;
$charcoal-grey-lighter: #2a2d37;
$charcoal-grey-lightest: #383d43;
$charcoal-grey: #373c43;
$pale-grey: #e4e9ee;
$dark-blue-grey: #193945;
$bluey-grey: #8494ab;
$error: #dd5656;
$silver: #bec6cf;
$silver-darck: #a8b3be;
$snot-green: #95bf00;
$grey-brown: #888181;